@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
/*------Body Reset------*/
body{
    overflow-x: hidden;
    font-family: 'montserrat', sans-serif;
    color: #000000;
    font-size: 10px;
}
/*---------------------------------------Top-Bar Header---------------------------------------------------------------*/
.top-bar{
    background: #059731;
    height: 3rem;
    padding: .8rem 0;
}
.top-bar a{
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}
/*-----------------------------------------Navigation-----------------------------------------------------------------*/
.navbar-brand img{
    height: 9rem;
}
.navbar{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.nav-item{
    padding: .8rem;  
}
.nav-link{
    color: #000000!important;
}
.nav-link.active,
.nav-link:hover{
    color: #059731!important;
}

/*-----------------------------------------Home-----------------------------------------------------------------*/
.ja-jumbo{
     background: url(../images/ofada.jpg) no-repeat center center fixed;
     -webkit-background-size: cover; 
     -moz-background-size: cover; 
     -o-background-size: cover; 
     background-size: cover;
     text-align: center;
     
}
.jumbotron{
    height: 50rem;
    width: 100%;
  animation-name: jumbotron-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
}
.display-4 {
    font-weight: 500;
    color: #000000;
    padding-top: 8.5rem;
    
}
.lead{
    font-weight: 500;
    color: #000000;
}
.about{
    color: #000000;
    padding-top: 2rem;
}
.about p{
    font-size: 1rem;
}
.about h3:hover{
    color: #059731!important;
    
}









/*-----------------------------------------Menu-----------------------------------------------------------------*/













/*-----------------------------------------Contact-Us-----------------------------------------------------------------*/









/*-----------------------------------------Footer-----------------------------------------------------------------*/
footer {
    line-height: 1.5rem;
    background-color: #f8f9fa;
    position: static;
    text-align: center;
    
}
 footer p{
    text-decoration: underline;
    color: #000000;
    font-size: 1rem;
}
footer p i{
    color:#059731;
}
footer p i:hover{
    color: #000000;
}
.social-networks li {
    display: inline;
}
.social-networks i{
    font-size: 300%;
    padding: 5%;
    margin: 1%;
    color:#059731;  
}
.social-networks i:hover{
    color: #000000;
}

@keyframes jumbotron-zoom{
       from{
         transform: scale(1);
       }
       to{
         transform: scale(1.1);
       }
}