@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
/*------Body Reset------*/
body{
    overflow-x: hidden;
    font-family: 'montserrat', sans-serif;
    color: #616971;
}

/*-----------------------------------------Navigation-----------------------------------------------------------------*/
.navbar-brand {
    
}
.navbar-brand img {
    
}
.navbar{
    
}
.nav-item{
    
}
.nav-link{
    color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover{
    color: #059731!important;
}

/*-----------------------------------------Home-----------------------------------------------------------------*/
















/*-----------------------------------------Menu-----------------------------------------------------------------*/













/*-----------------------------------------Contact-Us-----------------------------------------------------------------*/









/*-----------------------------------------Footer-----------------------------------------------------------------*/
footer {
    min-height: 75px;
    background-color: #059731;
    margin: 0;
}
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}